body{
    background-image: url(makoimages/relief_rocks_coast_clouds_4k_5k_hd.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
header{
    display: flex;
    margin-top: 20px;
    
}
h2{
    margin-left: 150px;
    cursor: pointer;
    border: 1px solid black;
    padding: 7.5px;
    color: white;
    border-radius: 10px;
}
h2:hover{
    background-color: #24a0ed;
    
}
section{
    
    margin-top: 50px;
    font-size: 25px;
    color: white;
    margin-left: 350px;
}
#exampleInputEmail1{
    width: 500px;
    
}